@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    background-color: black;
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@layer components {
    .nav-item {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 600;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    .nav-item:after {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        left: 50%;
        bottom: -0.25rem;
        height: 0.125rem;
        width: 0px;
        --tw-translate-x: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
            skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        --tw-bg-opacity: 1;
        background-color: rgb(255 0 0 / var(--tw-bg-opacity));
        --tw-content: '';
        content: var(--tw-content);
    }

    .nav-item:hover {
        --tw-text-opacity: 1;
        color: rgb(255 0 0 / var(--tw-text-opacity));
    }

    .nav-item:hover:after {
        content: var(--tw-content);
        width: 100%;
    }

    .btn-primary {
        --tw-bg-opacity: 1;
        background-color: rgb(255 0 0 / var(--tw-bg-opacity));
        --tw-shadow: 0 0 7px 8px rgba(255, 0, 0, 0.4);
        --tw-shadow-colored: 0 0 7px 8px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .btn-primary:hover {
        --tw-shadow: 0 0 12px 14px rgba(255, 0, 0, 0.4);
        --tw-shadow-colored: 0 0 12px 14px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .btn-lg {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0.25rem 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    @media (min-width: 768px) {
        .btn-lg {
            padding: 0.5rem 2rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    .btn-md {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.9rem;
        line-height: 1.4rem;
        font-weight: 500;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    @media (min-width: 768px) {
        .btn-md {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1.3rem;
            line-height: 1.75rem;
        }
    }

    .btn-sm {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    @media (min-width: 768px) {
        .btn-sm {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .btn-ghost {
        border-width: 2px;
        --tw-border-opacity: 1;
        border-color: rgb(255 255 255 / var(--tw-border-opacity));
        font-weight: 600;
    }

    .btn-ghost:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 0 0 / var(--tw-text-opacity));
    }

    .footer-item {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-item:hover {
        --tw-text-opacity: 1;
        color: rgb(255 0 0 / var(--tw-text-opacity));
    }
}

@layer utilities {
    @keyframes scale {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        75% {
            transform: scale(0.75);
            opacity: 0.75;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .animate-scale {
        animation: scale 0.5s ease-in-out;
    }
}
